@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #000000;
    --second-bg-color: #161616;
    --text-color: #fff;
    --main-color: #aba292;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background-image: url(img/bground2.jpg);
    font-family: "Poppins, sans-serif";
    color: var(--bg-color);
}

html::-webkit-scrollbar {
    width: 0.8rem;
}

html::-webkit-scrollbar-track {
    background: var(--bg-color);
}

html::-webkit-scrollbar-thumb {
    background: var(--text-color);
}

 .header {
    margin: 0px 20px;
   
 }

.logo {
    font-size: 4rem !important;
    color: rgb(18, 15, 16) !important;
    font-weight: 800 !important;
    cursor: pointer;
}

.logo:hover {
    transform: scale(1.1);
}
.navbar-nav .nav-link {
    padding: 0 30px !important;
    font-size: 20px !important;
}


@media (max-width: 995px) {
    .navbar {
        text-align: right;
    }
    .navbar-nav{
        margin: 0 0 0 70% !important;
        padding: 20px !important;
        background-color: rgba(107, 107, 107, 0.18);
        font-weight: bold;
    }
    .navbar-nav .nav-link {
        display: block;
        font-size: 15px !important;
        margin: 0.5rem 0;
        transition: color 0.3s ease;
    }

    .navbar-nav .nav-link:hover {
        color: #000000; 
    }
}

section {
    min-height: 100vh;
    padding: 5rem 9% 5rem;
}

.home {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    margin-top: 0 !important;
    gap: 7rem !important;
    background:rgba(255, 255, 255, 0.642) !important;
}

.home .home-content h1 {
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.3;
}

span {
    color: var(--main-color);
}

.home-content h3 {
    font-size: 3rem;
    margin-bottom: 1rem;
    font-weight: 600;
}

.home-img {
    border-radius: 35%;
}

.home-img img {
    margin-bottom: 10px;
    position: relative !important;
    width: 30vw;
    border-radius: 50%;
    box-shadow: 0 0 25px var(--bg-color);
    cursor: pointer;
    transition: 0.2s linear;
}

.home-img img:hover {
    transform: scale(1.01);
    filter: dropshadow(0 0 25px var(--bg-color));
}

.social-icon a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: 0.2rem solid var(--bg-color);
    font-size: 2rem;
    border-radius: 50%;
    color: #080808;
    margin: 4rem 1.5rem 4rem 0;
    transition: 0.3s ease;
}

.social-icon a:hover {
    color: #050404;
    transform: scale(1.3) translateY(-5px);
    background: transparent;
    box-shadow: 0 0 25px var(--bg-color);
}

.btn {
    display: inline-block !important;
    padding: 1rem 2.8rem !important;
    background: #0d0b0c !important;
    border-radius: 4rem !important;
    font-size: 1.6rem !important;
    color: #f8f1f4 !important;
    border: 2px solid var(--bg-color) !important;
    letter-spacing: 0.1rem !important;
    font-weight: 600 !important;
    transition: 0.3s ease !important;
    cursor: pointer !important;
    margin: 0 1px !important;
    display: block !important;
    text-align: center !important;
    
}

.btn:hover {
    transform: scale(1.03);
    background-color: #fdf8fa;
    color: #060505;
    box-shadow: 0 0 25px var(--bg-color);
}

.typing-text {
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}

.typing-text span {
    position: relative;
}

.typing-text span::before {
    content: 'Software Developer';
    color: var(--main-color);
    animation: words 20s infinite;
}

.typing-text span::after {
    content: '';
    background: transparent;
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid rgb(7, 6, 7);
    right: -8;
    animation: cursor 0.6s infinite, typing 20s steps(14) infinite;
}

@keyframes cursor {
    to {
        border-left: 3px solid rgb(8, 8, 8);
    }
}

@keyframes words {
    0%, 20% {
        content: "Web Developer";
    }
    21%, 40% {
        content: "Developer";
    }
    41%, 60% {
        content: "Web Designer";
    }
    61%, 80% {
        content: "Wonder Woman";
    }
    81%, 100% {
        content: "Software Division Leader";
    }
}

@keyframes typing {
    10%, 15%,
    30%, 35%,
    50%, 55%,
    70%, 75%,
    90%, 95% {
        width: 0;
    }
    5%, 20%,
    25%, 40%,
    45%, 60%,
    65%, 80%, 85% {
        width: calc(100% + 8px);
    }
}

@media (max-width: 1000px) {
    .home {
        gap: 4rem;
    }
}

@media (max-width: 995px) {
    .home {
        flex-direction: column;
        margin: 5rem 4rem;
    }

    .home .home-content h3 {
        font-size: 2.5rem;
    }

    .home-content h1 {
        font-size: 5rem;
    }

    .home-content p {
        text-align: justify;
    }

    .home-img img {
        width: 70vw;
        margin-top: 4rem;
    }
}

/* Services Section */
.services {
    background: #100f0f;
}

.services#services .heading {
    color: #f4eef1;
}

.heading {
    text-align: center;
    margin-bottom: 80px;
    margin-top: 7px;
    font-size: 3rem;
    font-weight: 600;
    font-style: inherit;
}

.services-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
}

.service-box {
    margin-top: 5%;
    background-image: url(img/bground1.jpg);
    height: 280px;
    border-radius: 3rem;
    cursor: pointer;
    transition: 0.3s ease;
}

.service-box:hover {
    background: transparent;
    color: #faf8f9;
    transform: scale(1.03);
    border: 1px solid rgb(244, 240, 242);
}

.service-box .service-info {
    display: flex;
    flex-direction: column;
    text-align: left;
    max-height: 200px;
    justify-content: center;
    align-items: baseline;
    padding: 5em;
}

.service-info h4 {
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.service-info p {
    font-size: 1.6rem;
    font-weight: 400;
    max-height: 100px;
    margin: auto;
}

@media (max-width: 991px) {
    section {
        padding: 10rem 3% 2rem;
    }
    .services {
        padding-bottom: 7rem;
    }
    .service-info h4{
        font-size: 2rem;
    }
    .service-info p {
        text-align: justify;
        font-size: small;
    }
}

@media (max-width: 895px) {
    .services h2 {
        margin-bottom: 3rem;
    }
    .services-container {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* Skills section */
.skills {
    background-image: url(img/bground2.jpg);
}

.skills#skills .heading {
    color: #0d0b0c;
}

.skills .container {
    background: #0b0a0a;
    color: #f7f1f4;
    border-radius: 1rem;
    padding: 2rem;
    width: 100%;
    margin: auto;
    margin-top: 2rem;
}

.skills .container .row {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    flex-wrap: wrap;
    gap: 2.8rem;
}

.skills .container .bar {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 1rem;
    background-image: url(img/bground1.jpg);
    box-shadow: 0 4px 10px var(--text-color);
    transition: 0.3s ease;
    cursor: pointer;
}

.skills .container .bar:hover {
    box-shadow: 0 4px 10px var(--text-color);
    transform: scale(1.03);
}

.skills .container .bar .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.skills .container .bar .info span {
    font-size: 1.8rem;
    font-weight: 500;
    margin-left: 0.5rem;
}

@media screen and (max-width: 600px) {
    .skills .container {
        margin: 0;
        padding: 0;
    }
    .skills .container .row {
        grid-template-columns: 1fr;
        margin: 1rem;
        padding: 2rem 0.2rem 2rem 0.2rem;
        gap: 1rem;
    }
    .skills .container {
        margin-top: 5px;
        width: 100%;
    }
}

/* Education Section */
.education {
    background: #0f0f0f;
}

.education#education .heading  span{
    color: rgb(249, 243, 243);
}

.education#education .heading {
    color: #aba292;
}

@media screen and (max-width: 600px) {
    .education .timeline {
        margin-top: 2rem;
    }
    .education .timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-image: url(img/bground1.jpg);
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: 6px;
    z-index: -2px;
}
    .education .container {
        width: 100%;
        padding-left: 8rem;
        padding-right: 2rem;
    }
    .education .container::after {
        font-size: 2.2rem;
    }
    .education .container::before {
        left: 61px;
        border: medium solid var(--text-color);
        border-width: 10px 10px 10px 0;
        border-color: transparent var(--text-color) transparent transparent;
    }
    .education .left::after {
        left: 15px;
    }
    .education .right::after {
        left: 15px;
    }
    .education .right {
        left: 0%;
    }
}

/* Contact Section */
.contact h2 {
    margin-bottom: 3rem;
    color: #faf8f9;
}

.contact form {
    max-width: 70rem;
    margin: 1rem auto;
    margin-bottom: 3rem;
    text-align: center;
}

.contact form .input-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: #0d090b;
    background-image: url(img/bground1.jpg);
    border-radius: 0.8rem;
    border: 2px solid var(--main-color);
    margin: 1rem 0;
    resize: none;
}

#contact.contact .heading .btn{
    justify-content: center;
}

.contact form .btn {
    margin-top: 2rem;
   
}

.contact#contact .heading {
    color: #070305;
}

.contact#contact .heading span {
    color: var(--main-color);
}

/* Footer Section */
.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 40px 0;
    background: #050505;
    text-align: center;
}

.footer .social {
    text-align: center;
    padding-bottom: 25px;
    color: #fcf9fb;
}

.footer .social a {
    font-size: 25px;
    color: #fbf4f7;
    border: 2px solid #f9f2f5;
    width: 42px;
    height: 42px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 10px;
    transition: 0.3s ease;
}

.footer .social a:hover {
    transform: scale(1.2) translateY(-5px);
    background: transparent;
    color: #fdfafc;
}

.footer ul {
    margin-top: 0;
    padding: 0;
    font-size: 18px;
    line-height: 1.2;
    margin-bottom: 0;
    text-align: center;
}

.footer ul li a {
    color: #fcf6f9;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;
}

.footer ul li a:hover {
    border-bottom: 3px solid #aba292;
}

.footer ul li {
    display: inline-block;
    padding: 0 15px;
}
.footer ul p {
    margin-top: 10px;
}

@media (max-width: 1285px) {
    html {
        font-size: 55%;
    }
    .services-container {
        padding-bottom: 7rem;
        grid-template-columns: repeat(2, 1fr);
        margin: 0 5rem;
    }
}

@media (max-width: 991px) {
    .header {
        padding: 2rem 3%;
    }
    section {
        padding: 10rem 3% 2rem;
    }
    .services {
        padding-bottom: 7rem;
    }
    .footer {
        padding: 2rem 3%;
    }
}

@media (max-width: 600px) {
    .footer ul {
        padding: 0;
        text-align: center;
    }
    .footer ul li {
        display: block;
        padding: 10px 0;
    }
}